---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Contact</h1>
						<div class="row text-left">
						  <div class="col-12 text-left">				
								

									<p class="bright-links">For questions about the SMB Annual Meeting in Edmonton in 2025, please contact <a href="mailto:smb2025@smb.org">smb2025@smb.org</a>.</p>
									<p class="bright-links">To obtain a Letter of Support for your visa application, please contact <a href="mailto:kyunghan@ualberta.ca">Kyunghan Choi</a>.</p>
									
										
							</div>
						</div>
												
						
						
						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













