---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Local Accommodations:</h1>
						
						
<!-- 						<hr> -->
						</br>
						
						
						<div class="row text-left">
							
							
						  <div class="col-12 text-left">	
						  		
						  					
						  		
						  		<div class="row text-left">
							  		<!-- image -->
									<div class="col-md-8">
										<img class="w-100" src="{{site.baseurl}}/assets/images/hotels/westin.png" alt="Picture of preferred hotel">  
									</div>
								  	<div class="col-md-4 text-left">				
										<p>
											<h3 class="text-left"><a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1732045761642&key=GRP&guestreslink2=true" class="bright">The Westin Edmonton</a>:</h3>
<!-- 											<strong>(Est. Travel time: TBD)</strong></br> -->
											10135 100 St NW, Edmonton, AB T5J 0N7, Canada</br>
											+1 780 426 3636</br>
											Negotiated Rate: $154 CAD (~$110 USD).</br>
											</br>
											
											<a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1732045761642&key=GRP&guestreslink2=true" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Website</a>
											
											<a href="https://maps.app.goo.gl/HH2NXTMxx1tFKG118" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
		
		
										</p>
									</div>
									
								</div>
						  		
								
						  		</br>
								<hr>
								</br>	
								
								
								
								
								
								
								
								
								
								<div class="row text-left">
								  	<div class="col-md-6 text-left">
								
									
									<p>
										<h3 class="text-left"><a href="" class="bright">University of Alberta Dorms</a>:</h3>
<!-- 										<strong>(Est. Travel time: TBD)</strong></br> -->
										11613 87 Ave NW, Edmonton, AB T6G 2H6, Canada</br>
										+1  780 492 6056 (mention "SMB 2025" when booking)</br>
										Rate: $70 CAD (~$50 USD).</br>
										Download the booking form and email it to <a href="mailto:guest.services@ualberta.ca">guest.services@ualberta.ca</a>
										</br>
										
										<a href="{{site.baseurl}}/assets/documents/SMB-2025-Reservation-Form.pdf" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Form</a>
										
										<a href="https://maps.app.goo.gl/PYhSWfSg5xfwra4V7" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
	
	
									</p>
									
									</div>
									<div class="col-md-6 text-left">
										
									<p>
										<h3 class="text-left"><a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1730934430386&key=GRP&guestreslink2=true" class="bright">Courtyard Edmonton Downtown</a>:</h3>
<!-- 										<strong>(Est. Travel time: TBD)</strong></br> -->
										10454 Whyte Ave NW, Edmonton, AB T6E 2A2, Canada</br>
										+1 780 465 8150</br>
										Rate: $199 CAD (~$142 USD).</br>
										</br>
										
										<a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1730934430386&key=GRP&guestreslink2=true" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Website</a>
										
										<a href="https://maps.app.goo.gl/ub6EUxXCpXe68SxG6" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
	
	
									</p>
									
									</div>
								</div>
									
									</br>
									<hr>
									</br>								
	
								<div class="row text-left">
								  	<div class="col-md-6 text-left">
									<p>
										<h3 class="text-left"><a href="https://reservations.travelclick.com/110294?groupID=4536646" class="bright">Metterra Hotel on Whyte</a>:</h3>
<!-- 										<strong>(Est. Travel time: TBD)</strong></br> -->
										10454 Whyte Ave NW, Edmonton, AB T6E 2A2, Canada</br>
										+1 780 465 8150</br>
										Rate: $169 CAD (~$128 USD).</br>
										</br>
										
										<a href="https://reservations.travelclick.com/110294?groupID=4536646" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Website</a>
										
										<a href="https://maps.app.goo.gl/SLA7TacoNGKHAEhD6" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
	
	
									</p>
									
									</div>
									<div class="col-md-6 text-left">
									
									<p>
										<h3 class="text-left"><a href="https://reservations.travelclick.com/110290?groupID=4535193" class="bright">Varscona Hotel on Whyte</a>:</h3>
<!-- 										<strong>(Est. Travel time: TBD)</strong></br> -->
										8208 106 St, Edmonton, AB T6E 6R9, Canada</br>
										+1 780 434 6111</br>
										Rate: $159 CAD (~$120 USD).</br>
										</br>
										
										<a href="https://reservations.travelclick.com/110290?groupID=4535193" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Website</a>
										
										<a href="https://maps.app.goo.gl/Pe944BFfutsTrJRM8" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
	
	
									</p>
									</div>
								</div>
								
								</br>
								<hr>
								</br>
								
								<div class="row text-left">
							  		<!-- image -->
									
								  	<div class="col-md-6 text-left">				
										<p>
											<h3 class="text-left"><a href="https://book.passkey.com/event/50957561/owner/3871/home" class="bright">Fairmont Hotel Macdonald</a>:</h3>
<!-- 											<strong>(Est. Travel time: TBD)</strong></br> -->
											
											10065 100 St NW, Edmonton, AB T5J 0J7, Canada</br>
											+1 780 424 5181</br>
											Negotiated Rate: $180 CAD (~$125 USD).</br>
											</br>
											
											<a href="https://book.passkey.com/event/50957561/owner/3871/home" class="btn btn-warning" role="button" aria-pressed="true"  target="_blank">Booking Website</a>
											
											<a href="https://maps.app.goo.gl/nArhM6amJ4CS9w8K8" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Google Maps</a>
		
		
										</p>
									</div>
									
								</div>
									
								
						  										
							</div>
							
						</div>
						
						
						</br></br></br>
						<hr>
						</br></br></br>
									
									
						
						
						
						
						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













