---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Registration:</h1>
						
						
<!-- 						<hr> -->
						</br>
						
						
						<div class="row text-left">
							
							
						  <div class="col-12 text-left">	
						  		
						  					
						  		
						  		<div class="row text-left">
							  		<!-- image -->
									
									<div class="col-md-12 text-left">
										<p>Registration for the annual meeting is now open. Please click the button below to be redirected to the official registration form.</p>
										
										<p>Registration occurs in two steps:
											
											<ul>
												<li>Step 1: fill out the Google Form. </li>
												<li>Step 2: pay (using the same email address as the form). </li>
											</ul>
										<strong style="color:red">Both steps must be completed or registration will not be processed!</strong></p>
									</div>
									<div class="col-md-2 text-left">
										<a href="https://docs.google.com/forms/d/e/1FAIpQLSeFDCR3ExUyFhWmEwWZ4dnJrhz612jnrcauJCADcubTN3vFcw/viewform?usp=header" class="btn btn-success" role="button" aria-pressed="true"  target="_blank"><strong>Step 1</strong></br> (Form details)</a> <span></span>
										</div>
										<div class="col-md-2 text-left">
										<a href="https://marketplace.ualberta.ca/products/smb25" class="btn btn-success" role="button" aria-pressed="true"  target="_blank"><strong>Step 2</strong></br> (Payment)</a>
									</div>
						  		</div>
								
									</br>
									<hr>
									
								<div class="row text-left">
								  	<div class="col-md-6 text-left">				
										<p>
											<h3 class="text-left">Early Registration</h3>
											<h4 class="text-left"><span class="bright">Deadline April 30th</span></h4>
											<ul>
												<li>Regular Member $680CAD</li>
												<li>Student Member $530CAD</li>
												<li>Regular Non Member $895CAD</li>
												<li>Student Non Member $580CAD</li>
											</ul>
										</p>
									</div>
									<div class="col-md-6 text-left">
										<p>
											<h3 class="text-left">Regular Registration</h3>
											<h4 class="text-left"> After April 30th</h4>
											<ul>
												<li>Regular Member $860CAD</li>
												<li>Student Member $710CAD</li>
												<li>Regular Non Member $1075CAD</li>
												<li>Student Non Member $760CAD</li>
											</ul>
										</p>
									</div>
								</div>
								
								</br>
								<hr>
									
								<div class="row text-left">
									<div class="col-md-12 text-left">				
										<p>
											<h3 class="text-left">Included in the price</h3>
											<ul>
												<li>Convention Center venue</li>
												<li>Wifi provided at the venue for all participants throughout the conference</li>
												<li>Lunch for five days</li>
												<li>Coffee and snack breaks each day</li>
												<li>Dinner and drinks provided at the welcome and Poster reception on Monday evening</li>
												<li>Public transportation passes (light rail station is located near the venue)</li>
												<li>We have negotiated excellent hotel rates for the conference. Please see the webpage to book a room. https://2025.smb.org/local-accommodations</li>
												<li>Note that banquet (Thursday evening) tickets are available for an extra fee when you register</li>
											</ul>
											
										</p>
									</div>
								</div>
								
								</br>
								<hr>
									
								<div class="row text-left">
									
									<div class="col-md-6 text-left">				
										<p>
											<h3 class="text-left">Optional Extra Charge</h3>
											<ul>
												<li>Banquet $120CAD</li>
											</ul>
											
										</p>
									</div>
									<div class="col-md-6 text-left">
										<p>
											
											<h3 class="text-left">Refund deadline</h3>
											<h4 class="text-left"><span class="bright">May 1st</span></h4>

										</p>
									</div>
									
								</div>
						  		
						  										
							</div>
							
						</div>
						 
					</br>
					<hr>
				</br>
						<div class="col-12 text-left">	
						  		
						  					
						  		
							<div class="row text-left">
								<!-- image -->
							  
							  <div class="col-md-12 text-left">
								<h3 class="text-left">Visa Letter of Support</h3>

								<p class="bright-links">To obtain a Letter of Support for your visa application, please contact <a href="mailto:kyunghan@ualberta.ca">Kyunghan Choi</a>.</p>
							  </div>
							</div>
						</div>

						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













