---
title: "Society of Mathematical Biology"
layout: default

description: "The Society for Mathematical Biology - Annual Meeting 2023."
permalink: /schedule/
---


<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						</br></br>

						<hr>
						</br>
																
						<h1 class="text-left">How to navigate this schedule:</h1>
						<p class="text-left">There are multiple ways to navigate the schedule. You may browse by subgroup, below:</p>
						{% include subgroup_menu.html %}
						 	
					 	{% include subgroup_descriptions.html %}
					 	
					 	<p class="text-left">Alternatively, click on any box in the full schedule below to view the full list of parallel tracks (e.g. click "Minisymposium 1" to view all minisymposia at that time).</p>
					 	
					 	
					 	
					 	</br>
						<hr>
						</br>
				
						{% include pre-conference.html %}
						
						</br>
						<hr>
						</br>
						
						<h5 class="text-left">OpenVT Multicellular Modelling Workshop</h5>
						<p class="text-justify bright-links"><a href="https://2025.smb.org/special-events">2025 OpenVT Multicellular Modelling Workshop</a>: 9:30am - 5:00pm.</p>

						
						
						
						</br>
						<hr>
						</br>
				
						{% include 24_schedule.html %}	
						
						</br>
						<hr>
						</br>
						
						
						<h1 class="text-left">Other important events:</h1>
						
						<div class="row text-left">
							<div class="col-md-12">
								<p class="text-left bright-links">
									<ul class="text-left">
										<li><a href="https://2025.smb.org/special-events">OpenVT Multicellular Modelling Workshop</a> on Sunday from 9:30am - 5:00pm.</li>
										<li>BMB Editorial Board Meeting	on Tuesday from 12:00pm-1:30pm in <strong>Salon 2</strong>. Contact Matthew Simpson for questions.</li>
										<li>Subgroup Leadership Meeting	on Tuesday from 12:00pm-1:30pm in <strong>Salon 3</strong>. Contact Jessica Conway for questions.</li>
										<li>Indigenous Market 1 on Tuesday from 10:00am-4:00pm in Assembly Foyer.</li>
										<li>Indigenous Market 2 on Thursday from 10:00am-4:00pm in Assembly Foyer.</li>
										<li>Subgroup business meetings are listed on each subgroup's page (click links below).</li>
									</ul>
									
									{% include subgroup_menu.html %}
									
								</p>
							</div>
						</div>
						
						
						</br>
						<hr>
						</br>
						
						<h1 class="text-left">Navigating Edmonton Convention Center</h1>
						
						
						<div class="row text-left">
									<div class="col-md-6">
										<img class="w-100" src="{{site.baseurl}}/assets/images/where-map.jpg" alt="Picture of ECC map">  
									</div>
						</div>
						
						<div class="row text-left">
							<div class="col-md-12">
								<p class="text-left bright-links">
									<h4>Pedway Level</h4>
									<ul class="text-left">								
										<li>Reception and Poster Session (Hall D)</li>
										<li>Banquet (Hall D)</li>
									</ul>
									<h4>Assembly Level</h4>
									<ul class="text-left">	
										<li>Opening and Welcome Remarks (Hall A)</li>
										<li>Plenary Talks (Hall A)</li>
										<li>Panel on the Future of Publishing in Quantitative Life Sciences (Hall A)</li>
										<li>Coffee Breaks (Foyer)</li>
										<li>Lunch (Hall A)</li>
										<li>SMB General Meeting (Hall A)</li>
										<li>Registration Counter / Information Desk (Foyer)</li>
										<li>Indigenous Market (Foyer)</li>
		
									</ul>
		
									<h4>Meetings Level</h4>
									<ul class="text-left">	
										<li>Business Meetings</li>
										<li>Minisymposia</li>
										<li>Contributed Talks</li>
										<li>Workshop on Biomathematics Funding (Salon 2)</li>
									</ul>
									
									
								</p>
							</div>
						</div>
						
						
						
						{% include footer.html %}
						
						
												
						
												
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













