---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						
						
<!--
						</br></br>
						<hr>
						</br>
-->
						
<!--
						<h6 class="text-left">Jump to submission form for:</h6>
						<ul class="pagination text-left">
						  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#MS"><span class="text-{{page.subgroup}}">Minisymposia</span></a></li>
						  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#CT"><span class="text-{{page.subgroup}}">Contributed Talk</span></a></li>
						  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#Poster"><span class="text-{{page.subgroup}}">Poster</span></a></li>
						</ul>
-->

						</br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Late Poster submissions</h1>
						<a id="MS"></a>
						
						<h4 class="text-left">Deadline: <strong>June 1.</strong></h4>

						<div class="row text-left">
						  <div class="col-12 text-left">				
								
									
									<p class="bright-links">Submissions for posters are being received until June 1, 2025.</p>
									
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSf7CpBz5qNF2_wP6dIJxS-AQW5D8WnSHQxNTlBpMnkSx8_bPw/viewform" class="btn btn-success" role="button" aria-pressed="true" target="_blank">Submit</a>
									
										
							</div>
						</div>
						
						
						
						
						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













