---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---


<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						</br>
						
						<!-- image -->
						{% include banner.html %}
						
						</br></br>
						<hr>
						</br>
					
					
						<div class="row text-left">
							  		<!-- image -->
							
							<div class="col-md-8 text-left">
								<p>Registration for the annual meeting is now open. Please click the button below to be redirected to the official registration form.</p>
								<p class="bright-links">Submissions for posters are being received until June 1, 2025.</p>
								<p class="bright-links">Click <a href="{{site.baseurl}}/contact">here</a> to contact the conference organizers with questions.</p>
							</div>
							<div class="col-md-2 offset-1 text-left">
								<a href="{{site.baseurl}}/registration" class="btn btn-success" role="button" aria-pressed="true" >Registration Info</a></br></br>
								<a href="{{site.baseurl}}/submit" class="btn btn-success" role="button" aria-pressed="true" >Late Poster Submission</a>
							</div>
				  		</div>
						
						
						
						
						
						</br></br>
						<hr>
						</br>
						
						<div class="row text-left">
						  	<div class="col-md-5 text-left">				
								<h1 class="text-left">Edmonton Convention Center</h1>
								<h4 class="text-left">July 13-18, 2025</h4>
								<p class="text-justify">The city of Edmonton is eager to invite you to participate in the Annual Meeting of the Society for Mathematical Biology in the summer of 2025. Located in the northernmost metropolis in North America, the city of Edmonton will make a beautiful location for SMB 2025. Edmonton International Airport (YEG) offers non-stop flights from more than 50 major cities in Canada, the United States, and international destinations.
								</p>
								<p>
									<a href="https://maps.app.goo.gl/FyfrSPyC8TSMzq6GA" class="btn btn-success" role="button" aria-pressed="true" target="_blank">Directions</a> 
									<a href="https://exploreedmonton.com/things-to-do" class="btn btn-success" role="button" aria-pressed="true"  target="_blank">Explore Edmonton</a> 

								</p>
							</div>
							<!-- image -->
							<div class="col-md-7">
								<img class="w-100" src="{{site.baseurl}}/assets/images/campus/1.jpg" alt="Picture of conference venue">  
								
							</div>
						</div>
						
						</br></br>
						<hr>
						</br>
					
					
						<div class="row text-left">
							  		<!-- image -->
							
							<div class="col-md-8 text-left">
								<h4 class="text-left">Public transportation is available in the city of Edmonton:</h4>
							</div>
							<div class="col-md-2 offset-1 text-left">
								<a href="https://exploreedmonton.com/visit-edmonton/transportation-in-edmonton" class="btn btn-success" role="button" aria-pressed="true" >More Info</a></br></br>
							</div>
				  		</div>
						
						
						
						
<!--
						</br></br>
						<hr>
						</br>
-->
											
						
<!-- 						<h1 class="text-left">How to navigate this schedule:</h1> -->
<!-- 						<p class="text-left">There are multiple ways to navigate the schedule. You may browse by subgroup, below:</p> -->
						<!--  {% include subgroup_menu.html %} -->
						 	
					 	<!--  {% include subgroup_descriptions.html %} -->
					 	
<!-- 					 	<p class="text-left">Alternatively, click on any box in the full schedule below to view the full list of parallel tracks (e.g. click "Minisymposium 1" to view all minisymposia at that time).</p> -->
					 	
					 	
					 	

					 	</br>
						<hr>
						</br>

				
						 {% include pre-conference.html %}
						

						</br>
						<hr>
						</br>

				
						 {% include 24_schedule.html %}	

						</br>
						<hr>
						</br>
						
						<div class="row text-left">
							<div class="col-md-8 text-left">
								<h4 class="text-left">Sponsors</h4>
								<p class="text-justify">We would like to thank our sponsors for their support of the Society for Mathematical Biology. Please click on the links below to learn more about our sponsors.</p>
								<p class="text-justify">
									<a href="https://www.pims.math.ca/" class="btn btn-success" role="button" aria-pressed="true" >Pacific Institute for the Mathematical Sciences</a><br><br>
									<a href="https://www.tandfonline.com/journals/tmls20" class="btn btn-success" role="button" aria-pressed="true" >Mathematics in Medical and Life Sciences (Taylor and Francis)</a><br><br>
									<a href="https://link.springer.com/journal/285" class="btn btn-success" role="button" aria-pressed="true" >Journal of Mathematical Biology</a><br><br>
									<a href="https://link.springer.com/journal/11538" class="btn btn-success" role="button" aria-pressed="true" >Bulletin of Mathematical Biology</a><br><br>
									<a href="https://www.sciencedirect.com/journal/mathematical-biosciences" class="btn btn-success" role="button" aria-pressed="true" >Mathematical Biosciences</a><br><br>
									<a href="https://www.sciencedirect.com/journal/journal-of-theoretical-biology" class="btn btn-success" role="button" aria-pressed="true" >Journal of Theoretical Biology</a><br><br>
									
								
									
									
									
									
									
							</div>
						</div>
						
						{% include footer.html %}	
						
						
						
						
												
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>












