
{% assign plenary_speakers = site.Plenary | sort: 'numbering' %}


<h1 class="mb-3 text-left">Conference Schedule</h1>
<p class="text-left">This schedule is <strong>tentative</strong> and subject to change.</p>
<p class="text-left">Times listed beside each block are the <strong>starting times</strong> for each activity.</p>

<div class="table-responsive text-left" id="full-table">
  <table class="table table-sm table-bordered table-hover text-left main-schedule-table">
  <thead>
    <tr>
      <th style="width: 9%" class="default-cols time-header-cols" align="center"><strong>Time</strong></br></td>
      <th style="width: 15%" class="default-cols time-header-cols" align="center"><strong>Day 1</strong></br>Monday (July 14)</td>
      <th style="width: 15%" class="default-cols time-header-cols" align="center"><strong>Day 2</strong></br>Tuesday (July 15)</td>
      <th style="width: 15%" class="default-cols time-header-cols" align="center"><strong>Day 3</strong></br>Wednesday (July 16)</td>
      <th style="width: 15%" class="default-cols time-header-cols" align="center"><strong>Day 4</strong></br>Thursday (July 17)</td>
      <th style="width: 15%" class="default-cols time-header-cols" align="center"><strong>Day 5</strong></br>Friday (July 18)</td>
    </tr>
  </thead>
  <tbody>
    <tr>
	  	<td class="awake"><strong>8:30am</strong></td>
	  	<td class="default-cols"><a href="{{site.baseurl}}/opening-remarks"><strong>Opening & welcome</strong></a></td>
	  	<td colspan="4" class="default-cols"><strong></strong></td>
    </tr>
    <tr>
	    <td class="awake"><strong>9:00am</strong></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-01"><strong>Plenary 1</strong></br>{{plenary_speakers[0].speaker}}</a></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-03"><strong>Plenary 3</strong></br>{{plenary_speakers[2].speaker}}</a></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-06"><strong>Plenary 6</strong></br>{{plenary_speakers[5].speaker}}</a></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-07"><strong>Plenary 7</strong></br>{{plenary_speakers[6].speaker}}</a></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-09"><strong>Plenary 9</strong></br>{{plenary_speakers[8].speaker}}</a></td>
    </tr>
    <tr>
	    <td class="awake"><strong>10:00am</strong></td>
		<td class="default-cols" colspan="5"><strong>Coffee Break</strong> (20 minutes)</td>
    </tr>
    <!-- <tr>
	    <td class="awake"><strong>10:15am</strong></td>
		<td class="default-cols"><strong>Break</strong> (15 minutes)</td>
    </tr> -->
    <tr>
	    <td class="awake"><strong>10:20am</strong></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS01"><strong>Minisymposium 1 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS03"><strong>Minisymposium 3 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS05"><strong>Minisymposium 5 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS06"><strong>Minisymposium 6 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS08"><strong>Minisymposium 8 </strong></a></td>	    
    </tr>
    <tr>
	    <td class="awake"><strong>12:00pm</strong></td>
		<td class="default-cols"><strong>General Lunch or Mentor Lunch</strong></td>
		<td class="default-cols"><strong>Lunch</strong></td>
		<td class="default-cols"><strong>SMB General Meeting & Lunch</strong></td>
		<td class="default-cols"><strong>General Lunch</strong> or <strong>Mentor Lunch</strong> or <strong>Community Lunch</strong></td>
		<td class="default-cols"><strong>Lunch</strong></td>

    </tr>
    <tr>
	    <td class="awake"><strong>1:30pm</strong></td>
		
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-02"><strong>Plenary 2</strong></br>{{plenary_speakers[1].speaker}}</a></td>
		<td class="default-cols plenaries">
			<a href="{{site.baseurl}}/plenary/plenary-04"><strong>Plenary 4</strong></br>{{plenary_speakers[3].speaker}} (30 minutes)</a></br>
			<a href="{{site.baseurl}}/plenary/plenary-05"><strong>Plenary 5</strong></br>{{plenary_speakers[4].speaker}} (30 minutes)</a>
		</td>
		<td rowspan="5" class="default-cols excursion"><strong><a href="{{site.baseurl}}/excursions">Edmonton Activities</a></strong></br></br>and</br></br><strong>Workshop
on Biomathematics Funding</strong> (2-5pm)</td>	
		
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-08"><strong>Plenary 8</strong></br>{{plenary_speakers[7].speaker}}</a></td>
		<td class="default-cols plenaries"><a href="{{site.baseurl}}/plenary/plenary-10"><strong>Plenary 10</strong></br>{{plenary_speakers[9].speaker}}</a></td>
    </tr>
    <tr>
	    <td class="awake"><strong>2:30pm</strong></td>
		<td class="default-cols" colspan="2"><strong>Break</strong> (10 minutes)</td>
		<td class="default-cols" colspan="2"><strong>Break</strong> (10 minutes)</td>
    </tr>
    <tr>
	    <td class="awake"><strong>2:40pm</strong></td>
		
		<td class="default-cols"><strong>Panel on the future of publishing in quantitative life sciences</strong></td>
		<td class="default-cols contributeds"><a href="{{site.baseurl}}/CT01"><strong>Contributed talks 1</strong></a></td>
			
		<td class="default-cols contributeds"><a href="{{site.baseurl}}/CT02"><strong>Contributed talks 2</strong></a></td>
		<td class="default-cols contributeds"><a href="{{site.baseurl}}/CT03"><strong>Contributed talks 3</strong></a></td>
    </tr>
    <tr>
	    <td class="awake"><strong>3:40pm</strong></td>
		<td class="default-cols" colspan="2"><strong>Coffee Break</strong> (20 minutes)</td>
		<td class="default-cols" colspan="2"><strong>Coffee Break</strong> (20 minutes)</td>
    </tr>
    <tr>
	    <td class="awake"><strong>4:00pm</strong></td>
		<td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS02"><strong>Minisymposium 2 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS04"><strong>Minisymposium 4 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS07"><strong>Minisymposium 7 </strong></a></td>
	    <td class="default-cols minisymposia"><a href="{{site.baseurl}}/MS09"><strong>Minisymposium 9 </strong></a></td>
    </tr>
    <tr>
	    <td class="awake"><strong>6:00pm</strong></td>
		<td class="default-cols posters"><a href="{{site.baseurl}}/PS01"><strong>Poster session</strong></a></br>(6-9pm)</a></br></br><strong>T-shirt contest reveal</strong></td>
	  	<td class="default-cols"><strong>Free time</strong></td>
		<td class="default-cols"></td>
		<td class="default-cols"><strong>Banquet</strong></br>(Hall D, 6-11pm)</td>
	</tr>
    
    
            
  </tbody>
</table>
</div>


