<!-- large footer for desktop: -->
<footer class="pt-4 my-md-5 pt-md-5 border-top d-none d-md-inline">
	</br></br>
	<hr>
	</br></br>
	<div class="row">
	  <div class="col-4 col-md-4 text-left">
	  	<div class="text-left">
	        
			<h5>Organizers</h5>
		    <ul class="list-unstyled text-small">
		      <li class="text-muted">Jay Newby, University of Alberta</li>
		      <li class="text-muted">Hao Wang, University of Alberta</li>
		    </ul>
			</br>
		    <img src="/assets/images/smb-motion-logo.gif" width="100%" alt="" class="d-inline-block align-middle mr-2"></br></br>
<!-- 	    	<img src="/assets/images/logo-full.png" width="100%" alt="" class="d-inline-block align-middle mr-2"> -->
<!-- 			<small>© SMB 2025.</small> -->
	    </div>
	  </div>
	   <div class="col-3 col-md-3 offset-1 text-left">
	    <h5>Organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Thomas Hillen, University of Alberta</li>
	      <li class="text-muted">Dan Coombs, University of British Columbia</li>
	      <li class="text-muted">Mark Lewis, University of Victoria</li>
	      <li class="text-muted">Wylie Stroberg, University of Alberta</li>
	      <li class="text-muted">Gerda de Vries, University of Alberta</li>
	      <li class="text-muted">Ruth Baker, University of Oxford</li>
	      <li class="text-muted">Amber Smith, University of Tennessee Health Science Center</li>
	    </ul>
	    <h5>Website</h5>
	    <ul class="list-unstyled text-small">
		    <li class="text-muted">Jeffrey West</li>
	    </ul>
	  </div>
	  <div class="col-3 col-md-3 offset-1 text-left">
	    <h5>Scientific committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Ruth Baker, University of Oxford</li>
	      <li class="text-muted">Mark Lewis, University of Victoria</li>
	      <li class="text-muted">Frederick R Adler, University of Utah</li>
	      <li class="text-muted">Jennifer Flegg, University of Melbourne</li>
	      <li class="text-muted">Jana Gevertz, The College of New Jersey   </li>
	      <li class="text-muted">Jude Kong, University of Toronto</li>
	      <li class="text-muted">Kathleen Wilkie, Toronto Metropolitan University</li>
	      <li class="text-muted">Wylie Stroberg, University of Alberta</li>
	      <li class="text-muted">Jay Newby, University of Alberta</li>
	    </ul>
	  </div>
	</div>
	
	</br></br>
	<hr>
	</br></br>
	
	<div class="row">
	  <div class="col-12 col-md-12 text-left">
		  
		  <small>We wish to acknowledge that we are located within Treaty 6 territory and Metis Nation of Alberta Region 4. We acknowledge this land as the traditional home for many Indigenous Peoples including the Cree, Blackfoot, Metis, Nakota Sioux, Dene, Saulteaux, Anishinaabe, Inuit and many others whose histories, languages, and cultures continue to influence our vibrant community.</small>
	  </div>
	</div>
	
	
</footer>

<!-- Smaller footer for mobile: -->
<footer class="pt-4 my-md-5 pt-md-5 border-top d-md-none">
	<div class="row">
	  <div class="col-10 offset-1 text-left">
	  	<div class="text-left">
		  	</br></br>
	        <img src="/assets/images/smb-motion-logo.gif" width="100%" alt="" class="d-inline-block align-middle mr-2"></br></br></br></br>
	    	<img src="/assets/images/logo-full.png" width="100%" alt="" class="d-inline-block align-middle mr-2">
	    </div>
	
	  </div>
	</div>
	</br>
	</br>
	<div class="row">
	  <div class="col-10 offset-1 text-left">
	    <h5>Organizers</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Jay Newby, University of Alberta</li>
	      <li class="text-muted">Hao Wang, University of Alberta</li>
	    </ul>
	    <h5>Organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Thomas Hillen, University of Alberta</li>
	      <li class="text-muted">Dan Coombs, University of British Columbia</li>
	      <li class="text-muted">Mark Lewis, University of Victoria</li>
	      <li class="text-muted">Wylie Stroberg, University of Alberta</li>
	      <li class="text-muted">Gerda de Vries, University of Alberta</li>
	      <li class="text-muted">Ruth Baker, University of Oxford</li>
	      <li class="text-muted">Amber Smith, University of Tennessee Health Science Center</li>	      	      
	    </ul>
	    <h5>Scientific committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Ruth Baker, University of Oxford</li>
	      <li class="text-muted">Mark Lewis, University of Victoria</li>
	      <li class="text-muted">Frederick R Adler, University of Utah</li>
	      <li class="text-muted">Jennifer Flegg, University of Melbourne</li>
	      <li class="text-muted">Jana Gevertz, The College of New Jersey   </li>
	      <li class="text-muted">Jude Kong, University of Toronto</li>
	      <li class="text-muted">Kathleen Wilkie, Toronto Metropolitan University</li>
	      <li class="text-muted">Wylie Stroberg, University of Alberta</li>
	      <li class="text-muted">Jay Newby, University of Alberta</li>
	    </ul>
	    <h5>Website</h5>
	    <ul class="list-unstyled text-small">
		    <li class="text-muted">Jeffrey West</li>
	    </ul>
	    </br>
	    
	    </br>
	    <hr>
	    </br>
		<small class="d-block mb-3 text-muted">© SMB 2025.</small>

	  </div>
	</div>
	</br>
	</br>
</footer>