<h6>Jump to:</h6>
<ul class="pagination text-left">
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#"><span class="text-{{page.subgroup}}">Minisymposia</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#CT"><span class="text-{{page.subgroup}}">Contributed Talks</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="#Posters"><span class="text-{{page.subgroup}}">Posters</span></a></li>
</ul>
