<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Schedule
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="{{site.baseurl}}/schedule">Overview</a>
		<a class="dropdown-item" href="{{site.baseurl}}/presenters">Search by Name</a>
<!-- 		<a class="dropdown-item" href="{{site.baseurl}}/your-smb">Plan Your SMB</a> -->
  </div>
</li>




<!-- <li class="nav-item"><a class="nav-link" id="strong-nav" href="{{site.baseurl}}/submit"><strong>Submit Abstracts</strong></a></li> -->
<li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/plenary">Plenary</a></li>
<li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/local-accommodations">Accommodations</a></li>
<li class="nav-item"><a class="nav-link"  href="{{site.baseurl}}/registration">Registration</a></li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Subgroup
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item text-CARD" style="color:#000000 !important;" href="{{site.baseurl}}/CARD"><span class="text-CBBS">CARD</span> (Cardiovascular Modelling)</a>
		<a class="dropdown-item text-CDEV" style="color:#000000 !important;" href="{{site.baseurl}}/CDEV"><span class="text-CDEV">CDEV</span> (Cell and Developmental Biology)</a>
		<a class="dropdown-item text-ECOP" style="color:#000000 !important;" href="{{site.baseurl}}/ECOP"><span class="text-ECOP">ECOP</span> (Population Dynamics & Ecology)</a>
		<a class="dropdown-item text-EDUC" style="color:#000000 !important;" href="{{site.baseurl}}/EDUC"><span class="text-EDUC">EDUC</span> (Education)</a>
		<a class="dropdown-item text-IMMU" style="color:#000000 !important;" href="{{site.baseurl}}/IMMU"><span class="text-IMMU">IMMU</span> (Immunobiology and Infection)</a>
		<a class="dropdown-item text-MEPI" style="color:#000000 !important;" href="{{site.baseurl}}/MEPI"><span class="text-MEPI">MEPI</span> (Mathematical Epidemiology)</a>
		<a class="dropdown-item text-MFBM" style="color:#000000 !important;" href="{{site.baseurl}}/MFBM"><span class="text-MFBM">MFBM</span> (Methods for Biological Modeling)</a>
		<a class="dropdown-item text-NEUR" style="color:#000000 !important;" href="{{site.baseurl}}/NEUR"><span class="text-NEUR">NEUR</span> (Mathematical Neuroscience)</a>
		<a class="dropdown-item text-ONCO" style="color:#000000 !important;" href="{{site.baseurl}}/ONCO"><span class="text-ONCO">ONCO</span> (Mathematical Oncology)</a>
		<a class="dropdown-item text-OTHE" style="color:#000000 !important;" href="{{site.baseurl}}/OTHE"><span class="text-OTHE">OTHE</span> (Other / Misc.)</a>
  </div>
</li>


<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Events
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="{{site.baseurl}}/special-events">Special Events</a>
		<a class="dropdown-item" href="{{site.baseurl}}/excursions">Excursions</a>

		<!-- <a class="dropdown-item" href="{{site.baseurl}}/alberta-activities">Alberta Activities</a> -->
  </div>
</li>
<li class="nav-item"><a class="nav-link"  href="{{site.baseurl}}/sponsorship">Sponsorship</a></li>

<!--
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Contact
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="{{site.baseurl}}/contact">Contact Us</a>
		  <a class="dropdown-item" href="{{site.baseurl}}/landahl">Landahl Travel Award</a>
	</div>
  </li>
-->



<!-- <li class="nav-item"><a class="nav-link"  href="{{site.baseurl}}/contact">Contact</a></li> -->
<!-- <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/landahl">Landahl Travel Award</a></li> -->



<!-- <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/faq">FAQs</a></li> -->




