<h1 class="text-left">Pre-conference</h1>
<h4 class="text-left">Sunday, July 13, 2025</h4>
<!-- <h4 class="text-left">Location: Great Hall Meeting Room 3 in <a href="https://ohiounion.osu.edu/" class="bright">The Ohio Union</a></h4> -->




</br>
<h5 class="text-left">Early Career Workshop</h5>
<p class="text-justify">Note: the early career workshop will take place at the University of Alberta campus and not the convention center.</p>


<p class="text-left"><strong>The Centennial Centre for Interdisciplinary Science (CCIS) 1-140</br>
11335 Saskatchewan Drive NW, Edmonton</br>
University of Alberta</strong></br>
</p>


<div class="row text-left">
  <div class="col-md-12 text-left">				
			<table class="table table-striped text-left">
			  <tbody>
				<tr>
				</tr>
				<tr>
				   <td scope="col" colspan=3><strong>Early Career Workshop</strong>: 10:30am - 5:30pm</td>
				</tr>
				<tr>
			      <th scope="row">10:30am - 11:30am</th>
			      <td>Coffee and Maud Menten Poster Presentation</td>
			      <td><strong></strong></td>
			    </tr>
				<tr>
			      <th scope="row">11:30am - 12:00pm</th>
			      <td>How to get the most out of conferences</td>
			      <td><strong>Rebecca Everett</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">12:00pm - 12:30pm</th>
			      <td>Thriving your way through grad school</td>
			      <td><strong>Angela Peace</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">12:30pm - 1:00pm</th>
			      <td>Postdoccing outside the norm</td>
			      <td><strong>Lihong Zhao</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">1:00pm - 2:00pm</th>
			      <td>Lunch</td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">2:00pm - 2:30pm</th>
			      <td>Academic jobs at Liberal Arts Colleges</td>
			      <td><strong>Meredith Greer</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">2:30pm - 4:00pm</th>
			      <td>How to get a tenure-track job</td>
			      <td><strong>Stacey Smith?</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">4:00pm - 5:00pm</th>
			      <td>Non-academic career panel</td>
			      <td><strong>Farrah Sadre-Marandi, Marissa Renardy</strong></td>
			    </tr>
			    
			    
			   
			    
			    
			    
			  </tbody>
			</table>
	</div>
</div>