<h1>Sponsorship Levels and Benefits</h1>
    <table id="sponsor" style="color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
            border-collapse: collapse;
            margin-top: 20px;">
        <tr>
            <th>Benefit</th>
            <th>Diamond Sponsor ($25,000)</th>
            <th>Platinum Sponsor ($10,000)</th>
            <th>Gold Sponsor ($7,500)</th>
            <th>Welcome Reception Sponsor ($5,000)</th>
            <th>Banquet Sponsor ($5,000)</th>
            <th>Lunch Sponsor ($3,000)</th>
            <th>Career Fair Table ($1,000)</th>
            <th>Employer Level Sponsor ($500)</th>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">President’s Reception Tickets</td>
            <td>6</td>
            <td>4</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Registrations</td>
            <td>6</td>
            <td>4</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">CV Database Access</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Logo Presence</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Logo at an Event</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td></td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Welcome Reception Announcement</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Banquet Announcement</td>
            <td>✓</td>
            <td>✓</td>
            <td></td>
            <td></td>
            <td>✓</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Lunch Announcement</td>
            <td>✓</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>✓</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Career Fair Table</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td></td>
        </tr>
        <tr class="sponsor-benefits">
            <td class="first-column">Job Ad</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
    </table>

    <div class = "row text-left">
        <div class = "col-md-12">
            <p>Special "I'm Hiring" tags available for all attendees from sponsor organizations.</p>
            <p>Career Fair/Reception at end of Full-day Career Workshop.</p>
            <p>Amounts in USD; Poster prize sponsorships also available.</p>
            <p class="bright-links">Contact <a href="mailto:smb2025@smb.org">smb2025@smb.org</a></p>
        </div>
    </div>
  
