<div class="row" style="margin-bottom: 3em; background-color: white; border-radius: 10px;">
	<div class="col-md-6">
		<ul class="text-left">
			<li><span class="text-CARD" style="color:#000000 !important;"><span class="text-CARD">CARD</span> (Cardiovascular Modelling)</span></li>
			<li><span class="text-CDEV" style="color:#000000 !important;"><span class="text-CDEV">CDEV</span> (Cell and Developmental Biology)</span></li>
			<li><span class="text-ECOP" style="color:#000000 !important;"><span class="text-ECOP">ECOP</span> (Population Dynamics & Ecology)</span></li>
			<li><span class="text-EDUC" style="color:#000000 !important;"><span class="text-EDUC">EDUC</span> (Education)</span></li>
			<li><span class="text-IMMU" style="color:#000000 !important;"><span class="text-IMMU">IMMU</span> (Immunobiology and Infection)</span></li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="text-left">
			<li><span class="text-MEPI" style="color:#000000 !important;"><span class="text-MEPI">MEPI</span> (Mathematical Epidemiology)</span></li>
			<li><span class="text-MFBM" style="color:#000000 !important;"><span class="text-MFBM">MFBM</span> (Methods for Biological Modeling)</span></li>
			<li><span class="text-NEUR" style="color:#000000 !important;"><span class="text-NEUR">NEUR</span> (Mathematical Neuroscience)</span></li>
			<li><span class="text-ONCO" style="color:#000000 !important;"><span class="text-ONCO">ONCO</span> (Mathematical Oncology)</span></li>
			<li><span class="text-OTHE" style="color:#000000 !important;"><span class="text-OTHE">OTHE</span> (Other / Misc.)</span></li>
		</ul>
	</div>
</div>
	
