<div class="d-none d-md-block">
	<ul class="pagination text-left">
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/CARD"><span class="text-CARD">CARD</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/CDEV"><span class="text-CDEV">CDEV</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/ECOP"><span class="text-ECOP">ECOP</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/EDUC"><span class="text-EDUC">EDUC</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/IMMU"><span class="text-IMMU">IMMU</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/MEPI"><span class="text-MEPI">MEPI</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/MFBM"><span class="text-MFBM">MFBM</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/NEUR"><span class="text-NEUR">NEUR</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/ONCO"><span class="text-ONCO">ONCO</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important; background-color: #fff;" href="{{site.baseurl}}/OTHE"><span class="text-OTHE">OTHE</span></a></li>
	</ul>
</div>